form{
    width: 300px;
    margin: 0 auto;
    margin-left: 20px;
}
.hello{
    color: lightslategray;
    margin-top: 20px;
    margin-bottom:250px;
    padding: 5px 10px;
    transition: all 1s;
    font-size: 30px;
}

.contain{
    padding: 10px 10px;
margin-left: 1250px;
display: flex;
gap: 30px;

transition: color ;

}
.contain:hover {
   
    background: rgb(55, 239, 230);
    transition: 0.5s;
  }
.bac{
text-align: center;
margin-top: 100px;

}
body{
    background-image: url(img/back.png);
    background-repeat: no-repeat;
    background-position: center;
 background-size: cover;
 height: 200px;

}
.card{
    margin-left: 21px;
    margin-top: 100px;
   
}
.row{
    margin-top: 10px;
    width:50;
    height: 20px;
}
.carousel-item{

   
   margin-right: 50px;
}

.dropdown{
   padding: 50px;
    margin-right: 900px;
    padding-left: 20px;
    
}
#carouselExample{
    padding: 30px 40px;
    margin-right: 50px;
    margin-left: 20px;

}
